<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line responsive" data-ride="carousel" data-pause="hover" data-interval="5000" >

  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
      <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
      <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper For Slides -->
  <div class="carousel-inner" role="listbox">

      <!-- Third Slide -->
      <div class="item active">

          <!-- Slide Background -->
          <img src="https://www.marijuana.com/wp-content/uploads/2017/09/medical-marijuana-exports-702x336.jpg" alt="Expendaberry"  class="slide-image"/>
          <div class="bs-slider-overlay"></div>

          <div class="container">
              <div class="row">
                  <!-- Slide Text Layer -->
                  <div class="slide-text slide_style_left">
                      <h1 data-animation="animated zoomInRight">Expendafarms</h1>
                      <p data-animation="animated fadeInLeft">Your marijuana loot box delivery service.</p>
                      <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Join Now!</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- End of Slide -->

      <!-- Second Slide -->
      <div class="item">

          <!-- Slide Background -->
          <img src="http://www.ncwlife.com/wp-content/uploads/2017/02/Marijuana-Farm-STILL.jpg"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_center">
              <h1 data-animation="animated flipInX">Homegrown</h1>
              <p data-animation="animated lightSpeedIn">From our farm, striaght into your home.</p>
              <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">About Us</a>
          </div>
      </div>
      <!-- End of Slide -->

      <!-- Third Slide -->
      <div class="item">

          <!-- Slide Background -->
          <img src="https://d3atagt0rnqk7k.cloudfront.net/wp-content/uploads/2017/05/11105919/cannabis-subscription-boxes-8-1024x640.jpg" alt="Expendabox"  class="slide-image"/>
          <div class="bs-slider-overlay"></div>
          <!-- Slide Text Layer -->
          <div class="slide-text slide_style_right">
              <h1 data-animation="animated zoomInLeft">The Expendabox</h1>
              <p data-animation="animated fadeInRight">Full of premium strains, papers, and accessories to enhance the experience.</p>
              <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Check our Store!</a>
          </div>
      </div>
      <!-- End of Slide -->


  </div><!-- End of Wrapper For Slides -->

  <!-- Left Control -->
  <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>

  <!-- Right Control -->
  <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>

</div> <!-- End  bootstrap-touch-slider Slider -->
        

<div class="container responsive videoWrapper" id="intro-video">
  <iframe class="embed-responsive-item" width="260" height="215" src="https://www.youtube.com/embed/iibZLsbJQzw" frameborder="0" allowfullscreen></iframe>
</div>